body {
    margin: 0; 
    font-family: Arial, sans-serif;
    background-color: rgb(240, 248, 255);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
div {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
}
h1 {
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 24px;
    max-width: 1200px;
    color: rgb(33, 33, 33);
}

img {
    margin-left: 5px;
    max-width: 1300px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

label {
    margin-left: 5px;
    display: block;
    margin-bottom: 10px;
}

select {
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    margin-left: 5px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    margin-left: 5px;
    background-color: #0056b3;
}

button:active {
    margin-left: 5px;
    background-color: #004080;
}
